<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.select :technology_id, technologies_list, :prompt => 'Select Technology' %>
    <%= f.select :topic_id, topic_list, :prompt => 'Select Topic' %>
    <%= f.input :title, :input_html => { :class => 'questions_title' } %>
    <%= f.select :question_type, Question::QUESTION_TYPE %>
    <%#= f.input :parent_id %>
    <%#= f.input :note, :input_html => { :class => 'questions_title' } %>
    <%#= f.input :description, :input_html => { :class => 'questions_title' } %>
  </div>

  <%= render :partial => "options", :locals => {:question => @question}  %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
