<h1>Listing technologies</h1>

<table  class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @technologies.each do |technology| %>
  <tr>
    <td><%= technology.name %></td>
    <td><%= technology.description %></td>
    <td><%= link_to 'Show', technology %></td>
    <td><%= link_to 'Edit', edit_technology_path(technology) %></td>
    <td><%= link_to 'Destroy', technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'New topic',new_technology_topic_path(technology) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Technology', new_technology_path %>
