<div style="margin-left:30px;margin-right: 30px;">
  <table id="content-table">
    <tbody>
      <tr>
        <td>
          <div id="overflow_wrapper">
            <div id="main-content-td" style="padding-top: 0px; width:100%; background:none">
              <div id="main-content" class="">
                <div class="table_alignment">
                  <table class="table table-condensed" style="font-size: 12px; overflow:scroll; width: 800px;"  border="0" cellspacing="0">
                    <col width="10%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                    <col width="25%"/>
                    <col width="20%"/>
                    <thead>
                      <tr>
                        <th style="text-align: center">User</th>
                        <th style="text-align: center">Technology</th>
                        <th style="text-align: center">Topic</th>
                        <th style="text-align: center">Completed</th>
                        <th style="text-align: center">Score</th>
                        <th style="text-align: center">View Report</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% unless @exams.blank?  %>
                        <% @exams.each do |exam| %>
                          <tr>
                            <td style="text-align: center;"><%= exam_user(exam.user_id).name.capitalize unless exam.user_id.blank?%></td>
                            <td style="text-align: center;"><%= exam_technology(exam.technology_id).name.capitalize unless exam.technology_id.blank?%></td>
                            <td style="text-align: center;"><%= exam_topic(exam.topic_id).name.capitalize unless exam.topic_id.blank?%></td>
                            <td style="text-align: center;"><% if exam.is_completed == true %>Yes<% else %>No<% end %></td>
                            <td style="text-align: center;"><% if exam.is_completed == true %>
                                <%= exam.answers.where(:is_correct=>true).length %>/<%= exam.answers.length %>
                              <% elsif exam.answers.where(['question_type = ?', "free_text"]).length == 0 %>
                                <%= (["question_type !=? and is_correct =?", "free_text", true]).length %>/<%= exam.answers.where(["question_type !=?", "free_text"]).length %><% else %><%= exam.answers.where(["question_type !=? and is_correct =?", "free_text", true]).length %>/<%= exam.answers.where(["question_type !=?", "free_text"]).length %> + <%= exam.answers.where(["question_type =?", "free_text"]).length %><span style="color:red"> Free text Answer</span><% end %></td>
                          <td style="text-align: center;"><% if exam.is_completed == true %><%= link_to("Show",show_reports_path(:id=>exam.id), :id=>"exam_#{exam.id}", :class=>"fancybox") %><% else %><%= link_to("Edit",show_reports_path(:id=>exam.id), :id=>"exam_#{exam.id}", :class=>"fancybox") %><% end %></td>
                        </tr>
                      <% end  %>
                    <% end  %>
                    </tbody>
                  </table>
                  <br />
                  <div class="pages" style="margin-left:0px;margin-bottom: 20px;overflow:hidden;float: right"><%= paginate @exams %>
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>
          </div>
          <br/>


          <script type="text/javascript">
            $(document).ready(function() {
              $(".fancybox").fancybox();
            });

          </script>
